body {
    font-family: 'Poppins', sans-serif;
    border: 2px solid red;
}

/*--------------
 header part 
 --------------*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}

nav h3 {
    color: #3A3A3A;
    /* border: 1px solid black; */
}

nav a {
    text-decoration: none;
    color: #3A3A3A;
}

.menu-bar {
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    width: 40%;
}

/* --------------------------------------------- */




/* -----------
upper-part
--------------  */
.upper-part {
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
}

main {
    margin-top: 50px;
}

.start-journey {
    display: flex;
    color: #3A3A3A;
    align-items: center;

}

.button {
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
}

.button-1 {
    text-decoration: none;
    color: #E02C6D;



}

.start-journey img {
    width: 440px;
    height: 414px;
}

.brands {
    display: flex;
    justify-content: space-around;

}

/* product collection  */

.popular-collections {
    /* border: 2px solid green; */
    margin-top: 100px;
    margin-left: 7%;
    margin-right: 7%;
}

.popular-collections>h3 {
    text-align: center;
}

.collections {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
}

.collection {
    padding: 15px;
    /* box-shadow: 10px 10px 5px #aaaaaa; */
    box-shadow: 0px 0px 40px 0px #aaaaaa;
    border-radius: 10px;
}

.collecion h3 {
    font-size: 28px;
    line-height: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.collection img {
    width: 255px;
    height: 217.6px;

}

.price {
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    line-height: 150%;
    margin-top: 0px;
    margin-bottom: 0px;

}

.rating {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 0px;
}

.rating i {
    font-size: 18px;
    color: #FB8200;

}

.rating p {
    font-size: 18px;
    color: #5E6366;
    margin-top: 0px;
    margin-bottom: 0px;
}

.pro-info {
    color: #787885;
}

.button-1-cntainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}























/* -----------
footer part 
--------------- */

footer {
    margin-top: 50px;
    background-color: #0A0826;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;


}

footer a {
    color: white;
    background-color: ;
}

.footer-icon {
    display: flex;
    justify-content: space-evenly;
    margin-left: 40%;
    margin-right: 40%;
}


/* --------------------------------------------------- */